@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background: linear-gradient(90deg, #fca1cb 60%, #fc89bf 40.1%);
}

.container form {
    padding: 20px;
    width: 700px;
    background: #f8d8e7;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.container form .row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.container form .row .col {
    flex: 1 1 250px;
}

.container form .row .col .title {
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.container form .row .col .inputBox {
    margin: 15px 0;
}

.container form .row .col .inputBox span {
    margin-bottom: 10px;
    display: block;
}

.container form .row .col .inputBox input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}

.container form .row .col .inputBox input:focus {
    border: 1px solid #000;
}

.container form .row .col .flex {
    display: flex;
    gap: 15px;
}

.container form .row .col .flex .inputBox {
    margin-top: 5px;
}

.container form .submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #fc89bf;
    color: rgb(8, 8, 8);
    margin-top: 5px;
    cursor: pointer;
}

.container form .submit-btn:hover {
    background: #fc89bf;
}

.scroll-top-btn {
    position: fixed;
    bottom: 1rem;
    right: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3.5rem;
    width: 3.5rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background: #ac0c56;
    border-radius: 0.2rem;
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.scroll-top-btn.active {
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.scroll-top-btn span {
    color: rgb(245, 241, 241);
    font-size: 3rem;
    font-weight: 600;
}

.icon-angle-double-down:before {
    content: "\e903";
}

.icon-angle-double-left:before {
    content: "\e904";
}

.icon-angle-double-right:before {
    content: "\e905";
}

.icon-angle-double-up:before {
    content: "\e906";
}

.icon-angle-down:before {
    content: "\e907";
}

.icon-angle-left:before {
    content: "\e908";
}

.icon-angle-right:before {
    content: "\e909";
}

.icon-angle-up:before {
    content: "\e90a";
}
